
.mstheme
{
	top-bar-button: url(posglob.gif);
	version: 1.0;
	navbutton-background-color:  rgb(255,255,204);
}
.mstheme-topbar-font
{
	font-family: Arial, Helvetica;
	color: rgb(0,0,0);
}
body
{
	font-family: Arial, Helvetica;
	background-image: url(postextb.jpg); 
}

h1
{
	font-family: Arial, Helvetica;
}
h2
{
	font-family: Arial, Helvetica;
}
h3
{
	font-family: Arial, Helvetica;
}
h4
{
	font-family: Arial, Helvetica;
}
h5
{
	font-family: Arial, Helvetica;
}
h6
{
	font-family: Arial, Helvetica;
}

